.list__input{
display: flex;
padding: 15px;

}
.item__input{
	margin-right: 20px;
}
form{
	/*z-index: 1000;*/
	align-content: center;
	margin-top: 2vh;
	margin-left: 20vw;
	width: 60%;
	height: 80%;
	/*border: 1px solid;*/
}
input{
	font-size:30px;
	font-family: cursive;
	margin-bottom: 10px;
	outline: none;
}
.title__input {
   margin-left: 30%;
   margin-top: 3%;
	
}
.email__input{
	margin-left: 30%;
  height: 5vh;
  width: 25vw;
  font-size: 20px;
}
select{
	width: 10vw;
	padding-left: 20px;
	margin-left: 20px;
	height: 6vh;
	font-size:20px;
	font-family: cursive;
	color: darkgrey;
	outline: none;

}
button{
	background-color: lightgray;
	font-size:20px;
	padding: 20px;
	width: 20%;
	color: gray;
	border: none;
	border-radius: 5px;
	margin-top: 0;
    margin-left: 6%;
    cursor: pointer;
}
button:hover{
	background-color: darkgrey;
	/*font-size: 25px;*/
	color: papayawhip;

}
.footer{
	display: flex;
	z-index: 1200;
}